/* temp wireframe */

html,
body,
header,
nav,
section,
article,
aside,
footer,
div,
table,
th,
tr,
td,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: #000000;
}

/*
footer {
    position: fixed;
    bottom: 0px;
}
*/